body {
  background-image: url(https://images.unsplash.com/photo-1547754980-3df97fed72a8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
}
.container {
  background-color: rgba(255, 255, 255, 0.6);
  width: 60%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
}
h1,
h2 {
  font-weight: bold;
  margin: 30px;
  text-align: center;
}
input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 30px;
}
input[type="radio"] {
  width: initial;
  margin-right: 10px;
  display: inline-block;
}
/* button {
  background-color: lightblue;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
} */
button:hover {
  background-color: #0070c9;
}
label {
  display: block;
  width: 300px;
  margin-right: 20px;
  text-align: left;
}
form {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .container {
    width: 80%;
  }
}
.hidden {
      display: none;
}
.btn{
  width: 100%;
}
.reslut{
  width: 100%;
  text-align: left;
  background-color: rgb(196, 191, 119);
  font-size: 25px;
}
     

    
