/* body {
      font-family: Arial, sans-serif;
      padding: 20px;
    }

    form {
      display: inline-block;
      padding: 10px;
      border: 1px solid gray;
      border-radius: 5px;
      margin: 10px;
    }

    input[type="text"], input[type="number"] {
      padding: 5px;
      width: 200px;
      margin-left: 10px;
    }

    input[type="submit"] {
      padding: 5px 10px;
      background-color: lightblue;
      border: none;
      border-radius: 5px;
      margin-left: 10px;
      cursor: pointer;
    }

    button {
      padding: 5px 10px;
      background-color: lightblue;
      border: none;
      border-radius: 5px;
      margin-left: 10px;
      cursor: pointer;
    }

    h2 {
      margin-top: 20px;
    }

    label {
      font-weight: bold;
      margin-right: 10px;
    }

    div {
      display: inline-block;
      margin-right: 20px;
    } */









    /* body {
      background-image: url(bg.jpg);
      background-size: cover;
      background-position: center;
      height: 100vh;
    }
    
    .container {
      background-color: rgba(255, 255, 255, 0.8);
      width: 50%;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px #ddd;
      margin: 0 auto;
      text-align: center;
    }
    
    h2 {
      font-weight: bold;
      margin-bottom: 30px;
    }
    
    form {
      display: inline-block;
    }
    
    label, input[type="submit"] {
      display: inline-block;
      margin-bottom: 10px;
    }
    
    input[type="email"], input[type="number"] {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      margin-bottom: 20px;
    }
    
    input[type="radio"] {
      margin-right: 10px;
      display: inline-block;
    }
    
    input[type="submit"] {
      background-color: lightblue;
      padding: 10px 20px;
      border-radius: 10px;
      border: none;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #0070c9;
    }
    
    button {
      background-color: lightblue;
      padding: 10px 20px;
      border-radius: 10px;
      border: none;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0070c9;
    }

    @media (max-width: 768px) {
      .container {
        width: 80%;
      }
    } */









    body {
      background-image: url(https://images.unsplash.com/photo-1485433592409-9018e83a1f0d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1814&q=80.jpg);
      background-size: cover;
      background-position: center;
      height: 100vh;
    }
    
    .container {
      background-color: rgba(255, 255, 255, 0.8);
      width: 60%;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px #ddd;
      margin: 0 auto;
      text-align: center;
    }
    
    h2 {
      font-weight: bold;
      margin-bottom: 30px;
      text-align: center;
    }
    
    form {
      display: inline-block;
      text-align: left;
    }
    
    label {
      display: block;
      /* width: 120px; */
      margin-right: 20px;
      text-align: left;
    }

    div label {
      text-align: center;
    }
    
    input[type="email"], input[type="number"] {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      margin-bottom: 20px;
    }
    
    input[type="radio"] {
      margin-right: 10px;
      display: inline-block;
    }
    
    button {
      background-color: lightblue;
      padding: 10px 20px;
      border-radius: 10px;
      border: none;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0070c9;
    }
    
    @media (max-width: 768px) {
      .container {
        width: 80%;
      }
    }