html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Lora, serif;
  font-size: 16px;
  height: 100vh;
  /* min-width: 800px; */
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: #e1e3e0;
}
a:hover {
  text-decoration: none;
  color: rgba(98, 127, 100, 255);
}

.top-wr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 40px;
  background-color: rgba(84, 105, 80, 0.49);
  width: 100vw;
  }

  .top-wr a {
      font-size: 12px;
      display: block;
      text-decoration: none;
      margin-right: 20px;
      margin-left: 20px;
    }

  .top-wr .navleft {
      display: flex;
      margin-top:auto;
      margin-bottom:auto;
      list-style: none;
  }

  .top-wr .navright {
      display: flex;
      margin-top:auto;
      margin-bottom:auto;
      list-style: none;
  }

  .top-wr a #logo{
      display: flex;
      height: 100%;
      width: fit-content;
      align-self: center;
      padding: 5px;
  }

 


.header {
text-align: center;
white-space: wrap;
}

h4 {
  font-style: light;
  color: rgba(84, 105, 80, 0.49);
  margin-top: 80px;
  margin-bottom: 80px;
}

.midcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.contentmenu {
  max-width: 30%;
  background-color: rgba(237, 236, 226, 255);
  opacity: 70%;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 3;
  margin-right: 20px;
}

.contentlist {
  list-style: none;
  flex-shrink: 0.5;
}

.contentlist li {
  padding: 7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(98, 127, 100, 255);
}

.contentlist li a {
  color: rgba(84, 105, 80, 0.49);
  margin-right: 3px;
}

.contentlist li a:hover {
  color: rgba(162, 167, 161, 0.49);
  /* background-color: rgba(65, 79, 62, 0.208); */
}

.banner {
  max-width: 70%;
  width: 80%;
}

.banner > a img {
  max-width: 100%;
  max-height: 100%;
  min-width: 60vw;
}

.banner > a img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sections {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 30vh;
  justify-content: space-evenly;
  align-items: center;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin: 150px auto;
}

.sections > a img {
  width: 90%;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 10px;
}

.sections > a {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.sections > a img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 80px;
}

.signup label {
  color: rgba(84, 105, 80, 0.49);
  font-style: bold;
  padding-right: 10px;
}
input[type="email"] {
  background-color: rgba(237, 236, 226, 255);
  opacity: 70%;
  border-radius: 5px;
  border: 1px solid rgba(84, 105, 80, 0.49);
  margin-right: 10px;
  color: rgba(65, 79, 62, 0.49);
}
#submitbtn {
  width: 80px;
  border: none;
  background-color: rgba(237, 236, 226, 255);
  padding: 2px;
  border-radius: 4px;
  color: grey;
}
#submitbtn:hover {
  background-color: rgba(55, 103, 44, 0.2);
  color: white;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid rgba(55, 103, 44, 0.2);
  background-color: rgba(237, 236, 226, 255);
  opacity: 80%;
  margin-bottom: 10vh;
}

.otherthings {
  margin: 10px;
}
.otherthings h5 {
  color: rgba(9, 10, 8, 0.49);
  opacity: 100%;
  font-size: 16px;
}
.otherthings a p {
  color: rgba(9, 10, 8, 0.49);
  opacity: 100%;
  font-size: 16px;
}
.otherthings a p:hover {
  color: rgba(87, 88, 85, 0.49);
  opacity: 100%;
  font-size: 16px;
  cursor: pointer;
}
.club {
  margin: 10px;
}
.club h5 {
  color: rgba(9, 10, 8, 0.49);
  opacity: 100%;
  font-size: 16px;
}
.club address {
  color: rgba(9, 10, 8, 0.49);
  opacity: 100%;
  font-size: 16px;
}
.club p {
  color: rgba(9, 10, 8, 0.49);
  opacity: 100%;
  font-size: 14px;
}
.connect {
  margin: 10px;
}
.connect h5 {
  color: rgba(9, 10, 8, 0.49);
  opacity: 100%;
  font-size: 16px;
}
.connect a {
  color: rgba(9, 10, 8, 0.49);
  opacity: 100%;
  font-size: 16px;
}
.connect a:hover {
  color: rgba(87, 88, 85, 0.49);
  opacity: 100%;
  font-size: 16px;
  cursor: pointer;
}

.link-container {
  width: 80%;
}

/* MEDIA QUERIES */




@media screen and (max-width: 708px){
  .top-wr {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      height: 80px;
      background-color: rgba(84, 105, 80, 0.49);
      width: 100vw;

      }
      
  .top-wr a #logo{
      display: flex;
      width: 100%;
      align-self: center;
      padding: 10px;
      order: 0;
  }
  .top-wr .navleft {
      display: flex;
      flex-direction: column;
      list-style: none;
      align-self: flex-end;
      order: 0;
      flex-wrap: wrap;
  }

  .top-wr .navright {
      display: flex;
      flex-direction: column;
      list-style: none;
      align-self: flex-end;
      order: 0;
      flex-wrap: wrap;
  }

  .top-wr li{
      padding: 5px;
  }

.contentmenu {
  display: none;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner > img {
  height: 10vh;
}

  .signup form {
    display: flex;
    align-self: center;
    padding: 0 30px;
  }

  .sections {
    margin:auto;
  }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgba(84, 105, 80, 0.49) !important;
}